.contact-form{
	
	&__element {
		position: relative;
		padding-top: @global-gutter--small;
		display: block;
		clear: both;
	}

	&__button {
		float: right;
	}

	&__error {

		position: absolute;
		top: @global-gutter--small;
		right: @global-gutter--small;
		bottom: 0;

		opacity: 0;
		transition: opacity .25s ease;

		&::before {

		}
	}

	&__alert {

	}

	&__spinner {
		float: right;
		margin-top: @global-gutter--small;
		margin-right: @global-gutter--small;
		opacity: 0;

		animation: spin 1s linear infinite;
		transition: opacity .25s ease;

		@keyframes spin {
			from {
				transform: rotate(-360deg);
				//transform-origin: 50% 50%;
			}
			to {
				transform: rotate(0deg);
				//transform-origin: 50% 50%;
			}
		}
	}

}


@media @bp-tablet {

	.contact-form__element--small {
		.c6();
		float: left;
		clear: none;
		padding-right: @global-gutter--small/2;

		& + .contact-form__element--small {
			padding-right: 0;
			padding-left: @global-gutter--small/2;
		}
	}
}