.primary-navigation {
	padding-top: @global-gutter--large;

	.font-size(@h3-size);
	font-family: @sans-serif;
	text-transform: uppercase;

	a {
		color: @neuter-color;

		&:hover {
			color: @global-link-hover-color;
		}
	}
}