.work{
	
	clear: both;
	padding: @global-gutter 0;

	&__title {

		margin: 0;

		&--small {
			font-size: 60%;
		}
	}

	&__subtitle {
		
		font-weight: bold;
	}

	&__info {

		margin: @global-gutter--small 0 0 0;
		padding: 0;

		>li {
			list-style-type: none;
		}
	}

	&__link {
		margin-top: @global-gutter--small;
	}

	&__preview { 
		&:extend(.clear all);

		clear: both;
		margin: @global-gutter--small -@global-gutter--small/2 0 -@global-gutter--small/2;
	}

	&__thumbnail {

		margin-top: @global-gutter--small;
		float: left;
		margin: 0 1%;

		&--small {
			width: 27%;
		}

		&--large {
			width: 69%;
		}
	}
}