.work{

	&__title {

		margin: 0;
	}

	&__years {
		
		font-weight: bold;
	}

	&__info {

		margin: @global-gutter--small 0 0 0;
		padding: 0;

		>li {
			list-style-type: none;
		}
	}

	&__thumbnail {
		margin-top: @global-gutter--small;
	}
}